  build-arduino:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Arduino CLI
        run: |
          mkdir -p $HOME/.arduino15/packages
          mkdir -p $HOME/Arduino/libraries
          curl -fsSL https://raw.githubusercontent.com/arduino/arduino-cli/master/install.sh | sh
          echo $GITHUB_WORKSPACE/bin >> $GITHUB_PATH

      - name: Install BSP and Libraries
        env:
          BSP_URL: https://github.com/earlephilhower/arduino-pico/releases/download/global/package_rp2040_index.json
        run: |
          arduino-cli config init
          arduino-cli core update-index --additional-urls $BSP_URL
          arduino-cli core install rp2040:rp2040 --additional-urls $BSP_URL
          arduino-cli lib install "Adafruit TinyUSB Library"
          ln -s $GITHUB_WORKSPACE $HOME/Arduino/libraries/

      - name: Build
        run: |
          arduino-cli compile \
            --fqbn rp2040:rp2040:rpipico:usbstack=tinyusb \
            examples/arduino/device_info
