name: Build RP2040 Pico

on:
  push:
  pull_request:

env:
  PICO_SDK_PATH: ${{ github.workspace }}/pico-sdk

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Install ARM GCC
      uses: carlosperate/arm-none-eabi-gcc-action@v1
      with:
        release: '12.3.Rel1'

    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Checkout pico-sdk
      uses: actions/checkout@v4
      with:
        repository: raspberrypi/pico-sdk
        ref: 2.1.0
        path: pico-sdk

    - name: Init TinyUSB
      run: |
        git -C pico-sdk submodule update --init
        git -C pico-sdk/lib/tinyusb fetch
        git -C pico-sdk/lib/tinyusb checkout master

    - name: Build examples
      run: |
        mkdir -p examples/build
        cd examples/build
        cmake -DPICO_BOARD=pico ..
        make -j$(nproc)

    - name: Upload UF2
      uses: actions/upload-artifact@v4
      with:
        name: pico-uf2
        path: |
          examples/build/**/*.uf2
          examples/build/**/*.hex
